*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: relative;
    background-image: linear-gradient(0, rgba(0,0,0), rgba(0, 0, 0, 0.4));
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 1000px;
}
.header__content i:hover{
    color: #ff6600;
    transition: all 0.5s ease;
}
.header__content .nav-item .nav-link{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
.header__content .nav-item .nav-link:hover{
    color: #ff6600;
    transition: all 0.5s ease;
}
.header__content .navbar-brand{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}
.header__content .navbar-brand:hover{
    color: #ff6600;
    transition: all 0.5s ease;
}

.tblSanPham tbody td img{
    width: 100px;
}
.action{
    width: 150px;
}
.tblSanPham{
    text-align: center;
}
.cart{
    width: 80%;
    position: absolute;
    top: 100px;
    right: 180px;
}
.cart__content th{
    color: #ff6600;
}
.cart__content .title{
    width: 11%;
}