<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Quản lý sản phẩm</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/admin.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="header__content">
                <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
                    <a class="navbar-brand " href="#">
                        Cyber Phone</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item ">
                                <a class="nav-link" href="../index.html">Home </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#About">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#Menu">Menu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#Blog">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#Contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
    </header>

    <div class="cart">
        <div class="tab-content">
            <!--Danh sách sản phẩm -->         
                <div class="row">
                    <div class="col-md-8">
                        <!-- BEGIN BUTTOM THÊM MỚI -->
                        <button id="btnThemSP" class="btn btn-success" data-toggle="modal" data-target="#myModal">
                            <i class="fa fa-plus mr-1"></i>
                            Thêm Mới
                        </button>
                        <!-- END BUTTON THÊM MỚI -->
                    </div>
                    <div class="col-md-4">
                        <!-- BEGIN TÌM KIẾM -->
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Nhập từ khóa"
                                aria-label="Recipient's username" aria-describedby="basic-addon2" />
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2"><i class="fa fa-search"></i></span>
                            </div>
                        </div>
                        <!-- END TÌM KIẾM -->
                    </div>
                </div>
                <div class="tblSanPham" id="tblSanPham">
                    <!-- BEGIN TABLE SẢN PHẨM -->
                    <table class="table table-bordered cart__content table-dark">
                        <thead>
                            <th>STT</th>
                            <th class="title">Tên Sản Phẩm</th>
                            <th>Giá</th>
                            <th class="title">Màn Hình</th>
                            <th class="title">Camera Sau</th>
                            <th class="title">Camera trước</th>
                            <th>Hình ảnh</th>
                            <th>Mô Tả</th>
                            <th>Loại</th>
                            <th class="action">Action</th>
                        </thead>
                        <tbody id="listProduct">
                        </tbody>
                    </table>
                    <!-- END TABLE SẢN PHẨM -->
                </div>
                <br />
            <!-- Kết thúc danh sách sản phẩm -->
        </div>

        <!--KetThuc Tabmenu-->

        <!-- The Modal -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Modal Heading</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Tên Sản Phẩm</label>
                            <input id="TenSP" class="form-control" placeholder="Nhập vào tên sản phẩm" />
                            <span class="text-danger" id="tbTenSP"></span>
                        </div>
                        <div class="form-group">
                            <label>Giá</label>
                            <input id="GiaSP" class="form-control" placeholder="Nhập vào giá" />
                            <span class="text-danger" id="tbGiaSP"></span>
                        </div>
                        <div class="form-group">
                            <label>Màn hình</label>
                            <input id="ManHinh" class="form-control" placeholder="Nhập vào kích thước màn hình" />
                            <span class="text-danger" id="tbManHinh"></span>
                        </div>
                        <div class="form-group">
                            <label>Camera sau</label>
                            <input id="CamSau" class="form-control" placeholder="Nhập vào thông tin camera sau" />
                            <span class="text-danger" id="tbCamSau"></span>
                        </div>
                        <div class="form-group">
                            <label>Camera trước</label>
                            <input id="CamTruoc" class="form-control" placeholder="Nhập vào thông tin camera trước" />
                            <span class="text-danger" id="tbCamTruoc"></span>
                        </div>
                        <div class="form-group">
                            <label>Hình Ảnh</label>
                            <input id="HinhSP" class="form-control" placeholder="Nhập vào hình sản phẩm" />
                            <span class="text-danger" id="tbHinhSP"></span>
                        </div>
                        <div class="form-group">
                            <label for="MoTa">Mô tả</label>
                            <textarea class="form-control" id="MoTa" rows="3"></textarea>
                            <span class="text-danger " id="tbMoTa"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="LoaiSP">
                            <option>Chọn loại điện thoại</option>
                            <option>Samsung</option>
                            <option>Iphone</option>
                        </select>
                        <span class="text-danger" id="tbLoaiSP"></span>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="../js/Service.js"></script>
    <script src="../js/Products.js"></script>
    <script src="../js/Validation.js"></script>
    <script src="../js/admin.js"></script>
</body>

</html>